[Unit]
Description = dckr
Requires=docker.service
After = docker.service

[Service]
ExecStart=/bin/bash /usr/bin/containers.sh

[Install]
WantedBy = multi-user.target
