[Unit]
Description = making network connection up
After = docker.service

[Service]
ExecStart = /root/scripts/conup.sh

[Install]
WantedBy = multi-user.target
